html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #c9b6d8;
    background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #2c353f;
}

h1 {
    font-weight: 300;
}

/* Deck of cards */


.deck {
    width: 55%;
    height: 100vh;
    background: linear-gradient(160deg, #fff 0%, #aa7ecd 100%);
    padding: 5%;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 #2c353f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.card {
    height: calc((100% - 10%) / 4);
    width: calc((100% - 10%) / 4);
    background: #2c353f;
    font-size: 0;
    color: #2c353f;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 #2c353f;
    transition: 0.6s ease-in-out;
}

.card.open {
    transform: rotateY(0);
    background: #fff;
    color: #aa7ecd ;
    font-size: 33px;
    cursor: default;
}


.card.match {
    cursor: default;
    background: #aa7ecd;
    color: #2c353f;
    font-size: 33px;
}

/* Player Panel */


.player-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 50%;
    margin-bottom: 10px;
}

.stars {
    margin: 0;
    padding-right: 10px;
    display: inline-block;
    margin: 0 5px 0 0;
}

.stars li {
    list-style: none;
    display: inline-block;
}

.moves {
    padding-right: 10px;
}

.time {
    padding-right: 10px;
}

.restart {
    cursor: pointer;
}

.restart i {
    padding: 10px;
}

/* Winners Modal*/


 .modal {
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    margin-left: auto;
    font-size: 1.8em;
}

.top-scores p {
    font-weight: bold;
    text-align: center;
}

th {
    font-weight: normal;
    padding: 10px;
}


/* Media queries*/

@media screen and (max-width:950px) {
    .deck {
        width: 70%;
        height: 90vh;
    }
}


@media screen and (max-width:750px) {
    .player-panel {
        width: 80%;
        justify-content: space-around;
    }
}

@media screen and (max-width:600px) {
    .deck {
        width: 80%;
        height: 80vh;
    }
}

@media screen and (max-width:480px) {
    .deck {
        width: 90%;
        height: 70vh;
    }

    .player-panel {
        flex-direction: column;
    }
}